body{
   background-color: aliceblue; 
}

h1{
    color: rgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6);
}

.container{
    width: 450px;
    height: 450px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5%;
}

/*-------------------------------------------------
        SELECT ALL SQUARES IN THE ARRAY
---------------------------------------------------*/
.container .Squares:nth-child(-n+4) {
    background-image: url("../images/icons/icons2.png");
    color: whitesmoke;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

/*------------------------------------------------
    SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
------------------------------------------------*/
.Squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.7cm;
    font-weight: 500;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*-------------------------------------------------
    INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
-------------------------------------------------*/
.Squares:nth-child(1) {
    background: #4240ff;
}

.Squares:nth-child(2) {
    background: #ab3fdd;
}

.Squares:nth-child(3) {
    background: #ae163e;
}

.Squares:nth-child(4) {
    background: #00b200;
}

/*----------------------------------------------------
    HOVER, TRANSLATE & TRANSFORM EFFECTS
----------------------------------------------------*/
.container .Squares:nth-child(-n+4):hover{
    background-image: url("../images/icons/icons1.png");
    transform:scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.Squares:nth-child(1):hover {
    background: #13b4ff;
}

.Squares:nth-child(2):hover {
    background: #d861af;
}

.Squares:nth-child(3):hover {
    background: #81205f;
}

.Squares:nth-child(4):hover {
    background: #77b800;
}

/*----------------------------------------------------
    ANIMATION EFFECT
----------------------------------------------------*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../images/icons/icons1.png")
    }
    50% {
    transform: translateY(300px);
    }
}